<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ugb.tienda">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>


    <!-- Declaración de la característica de cámara (no requerida) -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!-- Actividad principal: debe ser exportada para ser lanzada desde el launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Otras actividades internas: se recomienda que no sean exportadas -->
        <activity
            android:name=".AddEditProductActivity"
            android:exported="false"/>
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false"/>

        <!-- FileProvider para compartir imágenes -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ugb.tienda.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>
